*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
_site
_book
_ts2js
coverage
/tests/**/*.js
/src/**/*.js
/examples/**/*.js
*.jsx
*.map
!tests/index.js
ios/build
ios/bundle
android/bundle
android/.gradle
android/app/build
android/build
android/local.properties
android/app/src/main/assets
android/app/src/main/res/drawable*
xcuserdata
.vscode
*.xcworkspace
yarn.lock
.config.json
.tea
apps/
/es/
/dist/
/render.alipay.com/
/_dist/
/_package/
/appx/
.entry/
.happypack/
storybook-static/
