*.iml
*.log
.idea
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.css
build
lib
_site
_book
_ts2js
coverage
xcuserdata
.vscode
*.xcworkspace
yarn.lock
/es/
/dist/
/_dist/
/_package/
.entry/
.happypack/
storybook-static/
